<div class="border-2 rounded-full p-2 w-20">
    <% if !space.available %>
        <div class="bg-gray-500 h-full">
            u
        </div>
    <% elsif !ticket %>
        <div class="bg-green-500 h-full">
            <%= button_to "buy", { controller: "tickets",
                action: "test", event_id:
                event.id,
                seat: seat_number, }, data: { turbo: false
                }, method: :post %>
        </div>
    <% else %>
        <div class="bg-red-500 h-full">
            <%= link_to "sold", ticket %>
        </div>
    <% end %>
</div>
