<% grid.rows.times do |i| %>
    <div class="flex">
        <% grid.rows.times do |k| %>
            <div class="border-2">
                <% if !local_ticket(grid, i, k)%>
                    <%= button_to "buy",
                      event_path(seat: grid_index(grid, i, k)), method: :post %>
                <% else %>
                    <%= link_to "sold", local_ticket_path(grid, i, k) %>
                <% end %>
            </div>
        <% end %>
    </div>
<% end %>
