<% if action_name != "edit" %>
    <% grid.rows.times do |i| %>
        <div class="flex">
            <% grid.cols.times do |k| %>
                <%= render 'grids/cell_show', space: local_space(grid, i,
                                                                 k),
    ticket: local_ticket(grid, i, k), seat_number: grid_index(grid, i,
    k), event: grid.event %>
            <% end %>
        </div>
    <% end %>
<% else %>
    <% grid.rows.times do |i| %>
        <div class="flex">
            <% grid.cols.times do |k| %>
                <%= render 'grids/cell_edit', space: local_space(grid, i,
                                                            k), ticket: local_ticket(grid, i, k) %>
            <% end %>
        </div>
    <% end %>
<% end %>
