<%= turbo_frame_tag 'main_frame' do %>
    <div id="<%= dom_id space %>">
        <div class="border-2 rounded-full p-2 w-20">
            <% if !space.available %>
                <div class="bg-red-500 h-full">
                    <%= link_to "sold", space.ticket,
                    data: { turbo_frame: "new_message" }
                    %>
                </div>
            <% else %>
                <div class="bg-green-500 h-full">
                    <%= link_to "buy",
                        new_space_ticket_path(space),
                     data: { turbo_frame: "new_message" }
                    %>
                </div>
            <% end %>
        </div>
    </div>
<% end %>
