<%= render(PageComponent.new()) do  %>
    <%= render(ContentComponent.new(title: "admin")) do %>
        <%= render(PanelsComponent.new()) do %>
            <%= render(PanelComponent.new(title: "events")) do %>
                <ul>
                    <% [1,2,3].each do |event| %>
                        <li>
                            event link here
                            <%#= link_to event.title, event %>
                        </li>
                    <% end %>
                </ul>
            <% end %>
        <% end %>
    <% end %>
<% end %>
