<div class="mx-auto md:w-2/3 w-full">
    <h1 class="font-bold text-4xl">New ticket</h1>
    <%= turbo_frame_tag 'ticket_frame' do %>
        <%= render "form", ticket: @ticket %>
    <% end %>
</div>
<%= turbo_frame_tag 'new_message', target: '_top' do %>
    <%= render "form", ticket: @ticket %>
<% end %>
