<div class="mx-auto md:w-2/3 w-full flex">
    <% @company.events.each do |event| %>
        <%= link_to "event #{event.id}", event, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    <% end %>
    <h2>Add a event:</h2>
    <%= form_with model: [ @company, @company.events.build ] do |form| %>
        Venue: <%= form.collection_select :venue_id, Venue.order(:id), :id, :id %>
        <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    <% end %>
</div>
