<main class="flex flex-col justify-between min-h-screen">
    <div>
        <%= render "layouts/navbar" %>
    </div>
    <%= yield %>
    <div>
        <%= render "layouts/footer" %>
    </div>
</main>
