<main class="flex flex-col justify-between min-h-screen">
  <div>
    <%= render "layouts/navbar" %>
  </div>
  <div class="h-full flex justify-center items-center">
    <%= yield %>
  </div>
  <div>
    <%= render "layouts/footer" %>
  </div>
</main>
